project:
  type: website
  output-dir: docs

website:
  title: "Mackenna Amole - CPLN 5920 Portfolio"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: labs
        text: Labs
      

format:
  html:
    theme: cosmo
    toc: true
    code-fold: true

execute:
  freeze: auto
